'.source.openedge':
    'Message Box':
        'prefix': 'msg'
        'body': 'MESSAGE ${1:text} VIEW-AS ALERT-BOX.'
    'Method Block':
        'prefix': 'pmethod'
        'body': 'METHOD PUBLIC ${1:VOID} ${2:name}(${3:params}):\n\t$4\nEND METHOD.'
