'scopeName': 'source.openedge'
'name': 'OpenEdge'
'fileTypes': [
    'p'
    'w'
    'cls'
    'i'
]
'patterns': [
    {
        'include': '#strings'
    }
    {
        'begin': '^\\s*(?i:(def(?:ine)))\\s*'
        'end': '\\.'
        'name': 'meta.keyword.other.define.oe'
        'patterns': [
            {
                'include': '#strings'
            }
            {
                'include': '#numbers'
            }
            {
                'include': '#modifiers'
            }
            {
                'match': '\\b([\\w\\d_\-]*)\\s*(?i:(as))\\s*([\\w\\d_\\-]*)'
                'captures':
                    '1':
                        'name': 'variable.other.oe'
                    '3':
                        'name': 'storage.type.oe'
            }
        ]
    }
    {
        'begin': '/\\*'
        'end': '\\*/'
        'name': 'comment.block'
    }
    {
        'include': '#preprocvar'
    }
    {
        'begin': '\{(?!&)'
        'end': '\}'
        'name': 'string.interpolated.include.oe'
    }
]
'repository':
    'strings':
      'patterns': [
        {
          'begin': '"'
          'end': '"'
          'name': 'string.quoted.double.oe'
          'patterns': [
            {
              'match': '\~.'
              'name': 'constant.character.escape.oe'
            }
            {
                'include': '#preprocvar'
            }
          ]
        }
        {
          'begin': '\''
          'end': '\''
          'name': 'string.quoted.single.oe'
          'patterns': [
            {
              'match': '\~.'
              'name': 'constant.character.escape.oe'
            }
            {
                'include': '#preprocvar'
            }
          ]
        }
      ]
    'numbers':
        'patterns': [
            {
                'match': '\\s\\.?[\\d\\.]*\\d\\b'
                'name': 'constant.numeric.oe'
            }
        ]
    'modifiers':
        'patterns': [
            {
                'match': '\\b(static|private|public|protected|global|shared|new|final|abstract)\\b'
                'name': 'storage.modifier.oe'
            }
        ]
    'preprocvar':
        'patterns': [
            {
                'match': '\{&[\\w_\-]+\}'
                'name': 'constant.other.preprocessor.oe'
            }
        ]
